body {
  font-family: Roboto;
  margin: 0;
}
header {
  padding: 1em 13em;
  background-color: #1f2937;
}

img {
  max-width: 100%;
  height: auto;
}

.pictures .text {
  padding: 1em 0;
  font-size: 36px;
  font-color: #1f2937;

  text-align: center;
}
.picture_cards {
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 50px;
  text-align: center;
  padding: 1em 0 5em;
}

.card img {
  border: 5px solid #3882f6;
  border-radius: 5%;
  width: 200px;
  height: 200px;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1f2937;
  color: #f9faf8;
  padding: 0 15px;
  text-align: center;
}

.topsection {
  display: flex;
  color: #f9faf8;
  justify-content: center;
  align-content: center;
  gap: 2em;
  padding: 7em 0;
}

.left-side {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-size: 18px;
  margin: 20px;
}

.right-side {
  flex-shrink: 0;
  width: 500px;
}

.bigtext {
  font-size: 48px;
}
.body {
  display: flex;
  flex-direction: column;
  align-content: center;
}
.logo {
  font-size: 24px;
  font-weight: bold;
  color: #f9faf8;
}

.links ul {
  list-style: none;
  display: flex;
  gap: 16px;
  color: #f9faf8;
}

.topbutton {
  background-color: #3882f6;
  color: #f9faf8;
  border: none;
  border-radius: 8px;
  width: 7em;
  padding: 7px 1em;
}

.quotetext {
  font-weight: lighter;
  font-size: 36px;
  font-style: italic;
}
.quoteauthor {
  display: flex;
  font-size: 24px;
  font-weight: bold;
  justify-content: flex-end;
}
.quote {
  background-color: #e5e7eb;
  display: flex;

  justify-content: center;
  align-content: center;
  flex-direction: column;
  padding: 200px 256px 128px;
}

.calltoaction {
  margin: 0;
  display: flex;
  justify-content: center;
  padding: 5em 10em;
}

.modal {
  background-color: #3882f6;
  border-radius: 10px;
  width: 1000px;
  padding: 2em 5em;
}
.container {
  display: flex;
  justify-content: space-between;
}

.container .header {
  font-weight: bold;
  color: #f9faf8;
  font-size: 1.5em;
}

.container .text {
  font-weight: lighter;
  color: #f9faf8;
  font-size: 1.5em;
}

.signup {
    background: none;
    border: 2px solid white;
    width: 10em;
    color: #f9faf8;
    font-size: 18px;
    font-weight: bold;
    border-radius: 20%;
}
